<div style="text-align: center">
  <%= image_tag "http://i2.wp.com/www.modernman.com/wp-content/uploads/2012/04/cartmanland510.jpg"%>
</div>

<div style="text-align: center">
  <h1>Welcome to the Amusment Park! </h1>

  <p><%= link_to 'Sign In', signin_path %></p>
  <p><%= link_to 'Sign Up', new_user_path  %></p>
</div>
